*{
    margin: 0;
    padding: 0;
}
.all{
    position: relative;
}
div{
    margin-bottom: 30px;
    
}
.div1{
    width: 300px;
    height: 100px;
    background-color: rgb(247, 126, 104);
    animation-name: DivOne;
    animation-duration: 2s;
    animation-direction: alternate;
    
} 
@keyframes DivOne{
    0%{background-color: rgb(247, 126, 104)  }
    50%{background-color: rgb(197, 56, 31);}
    100%{margin-left: 1050px; background-color: rgb(122, 49, 36);}
}

.div2{
    width: 300px;
    height: 100px;
    background-color: rgb(176, 82, 230);
    animation-name: DivTwo;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-direction: reverse;
}
@keyframes DivTwo{
    0%{background-color: rgb(172, 77, 226)  }
    50%{background-color: rgb(82, 36, 109)}
    100%{margin-left: 1050px; background-color: rgb(63, 28, 83)}
}

.div3{
    width: 300px;
    height: 100px;
    background-color: rgb(247, 126, 104);
    animation-name: DivThree;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-direction: alternate;
}
@keyframes DivThree{
    0%{background-color: rgb(247, 126, 104)  }
    50%{background-color: rgb(197, 56, 31);}
    100%{margin-left: 1050px; background-color: rgb(122, 49, 36);}
}

.div4{
    width: 300px;
    height: 100px;
    background-color: rgb(176, 82, 230);
    animation-name: DivFour;
    animation-duration: 2s;
    animation-delay: 9s;
    animation-direction: reverse;
}
@keyframes DivFour{
    0%{background-color: rgb(172, 77, 226)  }
    50%{background-color: rgb(82, 36, 109)}
    100%{margin-left: 1050px; background-color: rgb(63, 28, 83)}
}

.div5{
    width: 300px;
    height: 100px;
    background-color: rgb(247, 126, 104);
    animation-name: DivFive;
    animation-duration: 2s;
    animation-delay: 11s;
    animation-direction: alternate;
}
@keyframes DivFive{
    0%{background-color: rgb(247, 126, 104)  }
    50%{background-color: rgb(197, 56, 31);}
    100%{margin-left: 1050px; background-color: rgb(122, 49, 36);}
}

.div6{
    width: 300px;
    height: 100px;
    background-color: rgb(176, 82, 230);
    animation-name: DivSix;
    animation-duration: 2s;
    animation-delay: 14s;
    animation-direction: reverse;
}
@keyframes DivSix{
    0%{background-color: rgb(172, 77, 226)  }
    50%{background-color: rgb(82, 36, 109)}
    100%{margin-left: 1050px; background-color: rgb(63, 28, 83)}
}

.div7{
    width: 300px;
    height: 100px;
    background-color: rgb(247, 126, 104);
    animation-name: DivSeven;
    animation-duration: 2s;
    animation-delay: 17s;
    animation-direction: alternate;
}
@keyframes DivSeven{
    0%{background-color: rgb(247, 126, 104)  }
    50%{background-color: rgb(197, 56, 31);}
    100%{margin-left: 1050px; background-color: rgb(122, 49, 36);}
}

.div8{
    width: 300px;
    height: 100px;
    background-color: rgb(176, 82, 230);
    animation-name: DivEight;
    animation-duration: 2s;
    animation-delay: 20s;
    animation-direction: reverse;
}
@keyframes DivEight{
    0%{background-color: rgb(172, 77, 226)  }
    50%{background-color: rgb(82, 36, 109)}
    100%{margin-left: 1050px; background-color: rgb(63, 28, 83)}
}